extends layout

block content
  div(class="container")
    div(class="header-class")
      h1(class="result") Leave you breathless, top floor the view alone will.  Yes, hmmm.
      h1 -Yoda
    div(class="row content")
      div(class="col-md-5")

        a(class="twitter-timeline" href="https://twitter.com/yodamtvraps" data-widget-id="733702814816313344") Tweets by @yodamtvraps
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      div(class="col-md-5 col-md-offset-1")
        h1 Yoda MTV Raps
        p Click the button to make Yoda rap
        button(id='tweetRap' class='btn btn-success') Tweet
