@font-face {
  font-family: 'Gothic';
  src: url('../fonts/franklingothic-book-webfont.ttf');
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header-class {
  text-align: center;
  margin: 0 0 60px 0;
  background-color: rgb(26, 26, 26);
  color: rgb(233, 224, 73);
  padding: 20px;
  font-family: 'Gothic'

}

.content {
  padding: 50px;
  background: url(https://staticdelivery.nexusmods.com/images/110/2503596-1329965116.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
